*{
    font-family: 'Courier New', Courier, monospace; 
}
h1{
    color: red;
}
h3{
    color: #b92b27;
    text-decoration: underline;
}
#login{
     background: white;
}
#signup{
    background-color: #fff;  
}
.upvote{
    background-color: green;
    color: #ffffff;
}
#myid p{
        color: #b92b27;
}
p a{
    color: purple;
}
/* nav ul li a{
    color: hotpink;
    text-decoration: none;
} */
p+h{
    text-decoration: underline;
}
.upvote+button{
    color: black;
    background-color: rgb(184, 203, 238);
    color: #0000ff;
}
nav>ul>li>a{
color: hotpink;
text-decoration: none;
}
div>input{
    background-color: azure;
}
input[type="text"]{
    color:rgb(000, 255, 000);
}
input[type="password"]{
    color: #ff0000;
}

#greet{
    color:yellow;
}
.myclass{
    color: brown;
}
button:hover{
    background-color:black ;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
   background-color: #b92b27;
   color: black;
}s
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked+label{
              font-weight: bold;
              color:blue;
}
.post:nth-of-type(1n){
    background-color: rgb(218, 212, 203);
}
h1::first-letter{
    color:black;
}
p::selection{
    background-color: rgb(161, 79, 155);
    color: wheat;
}
